<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <title>Signin</title>
  </head>

  <body class="bg-gray-100">
    <%- include('partials/navbar') %>
    <%- include('partials/signin-form') %>
     <%- include("partials/footer") %>
     <%- include("partials/script") %>
  </body>
</html>
